.container{
  
  height:650px;
  width:70%;
  background:black;
  margin:10%;
  display:grid;
  grid-template-columns:auto auto;
  grid-gap:50px;
  padding:50px;
  
}

.in{
  background:yellow;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:16px;
 box-shadow: 6px 6px 30px 3px rgba(232,238,59,0.75);
  
}

canvas {
	position: absolute;
	height:750px;
  width:80%;
  opacity:0.7;
  margin:9.5%;
  top:0;
  z-index:-1;
 
}

